{{define "yield"}}
    <div class="row center">
        <h1 class=" animated fadeOut delay-4s">404</h1>
        <h2 class="blue-grey-text text-lighten-3 animated rotateOutDownLeft delay-3s">Page Not Found</h2>           
    </div>
    <br><br><br>
    <div class="row center">
        <a href="/" class="btn btn-large amber darken-2 z-depth-2 animated slideInUp delay-5s" style="border-radius: 10px 30px; width: 15rem;">GO HOME</a>
    </div>
    <br>    
{{end}}