{{define "yield"}}
    <div class="row">            
        <h1 class="thin animated bounceInDown">Tutorials</h1>
        <h4 class="blue-grey-text text-lighten-5 animated bounceInLeft delay-1s">Learn enough to be dangerous</h4><br><br>        
    </div><br>
    <div class="row center">
        <h2>UNDER CONSTRUCTION</h2>
    </div>
{{end}}