{{define "yield"}}
    <div class="row">            
        <h1 class="thin animated bounceInDown">Tutorials</h1>
        <h4 class="blue-grey-text text-lighten-5 animated bounceInLeft delay-1s">Learn enough to be dangerous</h4><br><br>        
    </div>
    <br><br><br>
    <div class="row center">
        <h3 class="blue-grey-text text-lighten-4">UNDER CONSTRUCTION</h3>
    </div>
{{end}}