{{define "title"}}Hello World Go Application{{end}}
{{define "yield"}}
    <div class="row">            
        <h1 class="thin animated bounceInDown">Hello Go</h1>
        <h4 class="blue-grey-text text-lighten-5 animated bounceInLeft delay-1s">A simple Hello World Application in Go</h4><br><br>        
    </div>     
{{end}}