{{define "title"}}How to Upgrade Go{{end}}
{{define "yield"}}
    <div class="row">            
        <h1 class="thin animated bounceInDown">Upgrade Go</h1>
        <h4 class="blue-grey-text text-lighten-5 animated bounceInLeft delay-1s">Upgrade the Go Programming Language</h4><br><br>        
    </div>     
{{end}}