body {
    /* margin: 0%; */
    /* background-color: #546e7a; */
    background: url(/assets/images/trianglify.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Set a specific height
    height: 500px; 

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;     */ */
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Comfortaa', cursive;    
    font-weight: normal;
    letter-spacing: 3%;
    color: #546e7a;
}

p {
    font-family: 'Comfortaa', cursive;    
    font-weight: lighter;
    letter-spacing: 3%;
    color: #78909c;
    font-size: 1.6rem;
}

.card-title {    
    color: #546e7a;
}

.card-action {

}
#card-shaped {
    border-radius: 24px 8px;
}

/* Animations */

.animated.delay-6s {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

.animated.delay-7s {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
  }