body {
    /* margin: 0%; */
    /* background-color: #546e7a; */
    background: url(/assets/images/trianglify.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    transition: 0s linear;
    transition-property: background-position;

    /* Set a specific height
    height: 500px; 

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;     */ */
}

h1 {
    font-family: 'Comfortaa', cursive;    
    font-weight: normal;
    font-size: 4rem;
    letter-spacing: 3%;
    margin-top: 12rem;
    margin-bottom:1rem;
    color: #ffb300;
}

h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;    
    font-weight: normal;
    letter-spacing: 3%;
    color: #546e7a;
}

p , a {
    font-family: 'Comfortaa', cursive;    
    font-weight: lighter;
    font-size: 1.6rem;
    letter-spacing: 3%;
    color: #607d8b;
}

.btn .btn-large {
    border-radius: 8px 24px;
}

.card-title {    
    color: #546e7a;
}

.card-action {

}

/* Animations */

.animated.delay-6s {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

.animated.delay-7s {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
  }

  /* IDs */

#card-shaped {
    border-radius: 45px 15px;
}

#stack-title {
    color: #cfd8dc;
}

#project-card-image {
    /* margin: 2.5%;  */
    /* width: 95%; */
    border-radius: 45px 15px;    
    border-top: 2px solid #eceff1; 
    width: 85%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

#project-visit-button {
    border-radius: 30px 10px;
}